<div class="card">
    <div class="card-body">
        <h1>{{redacao.tema.nome}}</h1>
        <h2>Nota: {{redacao.nota}}</h2>
        <small>Data de envio: {{redacao.data}}</small>
        <hr>
        {{redacao.conteudo}}
        <hr>
        <h3>Sugestões de melhora</h3>
        <p class="mt-4">{{redacao.comentarios}}</p>
    </div>
</div>

